.st0 {
  fill: #9f9d9d; /* color of the ocean */
}
.st1 {
  fill: #696969; /* color of the land */
}
.st2 {
  fill: #696969;
}
.st3 {
  fill: #696969;
}
.st4 {
  fill: #696969;
}
.st5 {
  fill: #696969;
}
.st6 {
  fill: #696969;
}
.st7 {
  fill: #696969;
}
.st8 {
  fill: #696969;
}
.st9 {
  fill: #696969;
}
.st10 {
  fill: #696969;
}
.st11 {
  fill: #696969; 
}
.st12 {
  fill: #696969;
}
.st13 {
  fill: none;
}
.st14 {
  fill: #ffffff; /* color of the text */
}
.st15 {
  fill: #696969;
}
.st16 {
  fill: none;
  stroke: #9f9d9d;
  stroke-width: 1.6;
}
.st17 {
display: none;
  fill: none;
  stroke: #ff0000;
  stroke-width: 2;
}
.st18 {
  display: none;
}
.st19 {
  display: inline;
  fill: none;
  stroke: #dedbd5;
}
.st20 {
  display: inline;
  fill: none;
  stroke: #dedbd5;
  stroke-width: 2;
}
.st21 {
  display: inline;
  fill: none;
  stroke: #808080;
}
.st22 {
  fill: #273452;
  stroke: #ffffff;
  stroke-width: 8.86e-2;
}
.st23 {
  enable-background: new;
}
.st24 {
  fill: #9b0d00;
}
.st25 {
  fill: #d3e3e3;
  stroke: #1b4157;
  stroke-width: 1.5;
}
.st26 {
  fill: #1b4157;
}
.st27 {
  fill: none;
  stroke: #44718a;
}
.st28 {
  fill: #ffffff;
}
.st29 {
  fill: none;
}
.st30 {
  fill: #faf9f9; /* color of the text */
}
.st31 {
  fill: #b5d29f;
}
.st32 {
  fill: #69999f;
}
.st33 {
  stroke: #1b4157;
  stroke-width: 0.687;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.551;
}
.st34 {
  fill: none;
  stroke: #1b4157;
  stroke-width: 0.687;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.551;
}
.st35 {
  fill: #44718a;
  stroke: #1b4157;
  stroke-width: 0.687;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.551;
}
.st36 {
  fill: #ffffff;
  stroke: #1b4157;
  stroke-width: 0.687;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.551;
}
.st37 {
  fill: #64a8cd;
  stroke: #1b4157;
  stroke-width: 0.687;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.551;
}
.st38 {
  stroke: #1b4157;
}
.st39 {
  fill: url(#path9494_00000078743664660479329280000002512574252814747520_);
  stroke: #1b4157;
}
.st40 {
  fill: #003f87;
}
.st41 {
  fill: #af1e2d;
}
.st42 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 3.8637;
}
.st43 {
  fill: #dfdfdf;
  stroke: #e2e2e2;
  stroke-width: 0.2;
  stroke-miterlimit: 10;
}
.st44 {
  font-family: "MyriadPro-Regular";
}
.st45 {
  font-size: 12px;
}
.st46 {
  fill: #d0d0d0;
  stroke: #e8e8e8;
  stroke-width: 0.2;
  stroke-miterlimit: 10;
}
.st47 {
  font-size: 10.2006px;
}
.st48 {
  fill: #d1d1d1;
  stroke: #d1d1d1;
  stroke-width: 0.2;
  stroke-miterlimit: 10;
}
.st49 {
  font-size: 8.9696px;
}
.st50 {
  display: inline;
  fill: none;
  stroke: #ff0000;
  stroke-width: 3;
}
.st51 {
  display: inline;
  fill: none;
  stroke: #1b4157;
  stroke-dasharray: 3.5433, 1.7717;
}
